<main role="main">
    <div class="docs-header container center-content">
        <h1>Documentation</h1>
        <div class="docs">
            {{{ gettingStarted }}}
            <hr>
            {{{ configurations }}}
            <hr>
            {{{ roleReactions }}}
            <hr>
            {{{ spotifyPlugin }}}
            <hr>
            <h2>Commands</h2>
            {{#each tempCommands }}
                {{{ this }}}
            {{/each}}
        </div>
    </div>
</main>
