<div class="container center-content" style="padding: 0">
    <h1 class="statistics-header-padding">All Time Statistics</h1>
    <h5>I am a part of {{{ numServer }}} servers.</h5>
    <h5>I know {{{ numCommands }}} commands and have ran over {{{ commandsRun }}} commands.</h5>
    <h5>My eye is on {{{ numRoles }}} roles and have assigned {{{ rolesAssigned }}}, and removed {{{ rolesRemoved }}} roles.</h5>
    <h5>I have saved {{{ numSongs }}} songs to {{{ numPlaylists }}} Spotify playlists.</h5>
    <h5>{{{ messages }}} messages read.</h5>
    <h5>I have been good over {{{ goodBot }}} times! But, on occasion, just {{{ badBot }}} times, I've been bad.</h5>
</div>
