<main role="main">
    <div class="container center-content" style="padding: 0">
        <h1 class="statistics-header-padding">Statistics</h1>
        <h5>I am a part of {{{ servers }}} servers.</h5>
        <h5>I know {{{ numCommands }}} commands and have ran over {{{ commands }}} commands.</h5>
        <h5>My eye is on {{{ numRoles }}} roles and have assigned {{{ roles }}}.</h5>
        <h5>I have saved {{{ songs }}} songs to Spotify.</h5>
        <h5>{{{ messages }}} messages read.</h5>
        <h5>I have been good over {{{ goodBot }}} times! But, on occasion, just {{{ badBot }}} times, I've been bad.</h5>
    </div>
</main>
